html {
	font-family: sans-serif, helvetica;
}
body {
    margin:0;
    padding:2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header {
    background:#fff;
    width:100%;
}
h1, h4 {
    margin:0;
    font-weight:normal;
}
ul {
    margin:0;
    padding:7em 1em;
}
li {
    padding:1.25em 0;
    margin:0;
    list-style-type: none;
    border-bottom:1px solid #aaa;
}
li:hover {
    background:#ddd;
}
a {
    color:#05f;
}
a:visited {
    color:#999;
}

.message {
    height:2em;
    text-align:center;
    width: 236px;
    margin:auto;
}
.message .face {
    display:block;
    background-image:url('../images/sprite.png');
    background-position: -105px -25px;
    height:26px;
    width:26px;
    float:left;
    text-align:center;
    background-repeat: no-repeat;
}

.message .face.dead {
    background-position: -1px -25px;
}

.message .counter, .message .clock {
    border:1px solid gray;
    width:100px;
    height:26px;
    float:left;
}

div[data-container="gameBoard"] {
    margin:auto;
    padding:0;
    height:220px;
    width:220px;
    border-left:1px solid #999;
    border-top:1px solid #999;
}
div.square {
    overflow:hidden;
    background-color:#ccc;
    height:21px;
    width:21px;
    margin-top: -3px;
    padding:0;
    display:inline-block;
    border-right:1px solid #999;
    border-bottom:1px solid #999;
    cursor:pointer;
    text-align: center;
}
div.square.closed {
    background-image:url('../images/mine.png');
    background-position: -100px 0;
}
div.square.closed.flag {
    background-image:url('../images/mine.png');
    background-position: 0 0;
}
div.square.open {
    background-image:none;
}
div.square.open.mine {
    background-image:url('../images/mine.png');
    background-position: -20px 0;
    background-color:#f00;
}