html {
	font-family: sans-serif, helvetica;
}
body {
    margin:0;
    padding:0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header {
    background:#fff;
    width:100%;
}
h1{
    margin:.25em;
    font-weight:normal;
}
div[data-container="gameBoard"] {
    margin:0 20px;
    padding:0;
    height:220px;
    width:220px;
    border-left:1px solid #999;
    border-top:1px solid #999;
}
div.square {
    overflow:hidden;
    background-color:#ccc;
    height:21px;
    width:21px;
    margin-top: -3px;
    padding:0;
    display:inline-block;
    border-right:1px solid #999;
    border-bottom:1px solid #999;
    cursor:pointer;
}
div.square.closed {
    background-image:url('../images/mine.png');
    background-position: -20px 0;
}
div.square.closed img {
    display:none;
}
div.square.open {
    background-image:none !important;
}
div.square.open img {
    display:block;
}
ul {
    margin:0;
    padding:7em 1em;
}
li {
    padding:1.25em 0;
    margin:0;
    list-style-type: none;
    border-bottom:1px solid #aaa;
}
li:hover {
    background:#ddd;
}
a {
	color:#05f;
}
a:visited {
    color:#999;
}