<!doctype html>
<html lang="en" ng-app="mineSweeperJs">
<head>
    <meta charset="UTF-8" />
    <title>mineSweeperJs</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<header> 
    <h1>
        mineSweeperJS
    </h1>
    <p>
    	A JavaScript, AngularJs implementation of the classic game.
    </p>
    <p>
    	To place a flag on a spot: Shift + click
    </p>
</header>

<div ng-controller="gameBoard">
	<div class="message">
		<h4 ng-show="gameOver">
			Game over! <a href="#" ng-click="reloadGame()">Play again</a>
		</h4>
	</div>
	<div data-container="gameBoard">
		<div ng-repeat="spot in spotData" ng-class="{open: spot.open, flag: spot.flag}" class="square closed" ng-click="setState()" ng-dblclick="flagSpot(spot)" data-position="{{spot.position}}" data-has-mine="{{spot.mine}}" my-game-spot>
			<img src ng-if="spot.mine" ng-src="images/mine.png">
		</div>
	</div>
</div>

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/controllers.js"></script>
<script src="js/app.js"></script>

</body>
</html>