<!doctype html>
<html lang="en" ng-app="mineSweeperJs">
<head>
    <meta charset="UTF-8" />
    <title>mineSweeperJs</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<header> 
    <h1>
        mineSweeperJS
    </h1>
</header>

<div data-container="gameBoard" ng-controller="gameBoard">
	<div ng-repeat="spot in gameSpots" class="square" ng-click="setState()" ng-game-spot ng-model="setState">
		{{spot.mine}}
	</div>
</div>

<script src="js/angular.min.js"></script>
<script src="js/controllers.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>