<!doctype html>
<html lang="en" ng-app="mineSweeperJs">
<head>
    <meta charset="UTF-8" />
    <title>mineSweeperJs</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<header> 
    <h1>
        mineSweeperJS
    </h1>
    <p>
    	A JavaScript, AngularJs implementation of the classic game.
    </p>
    <p>
    	To place a flag on a spot: Shift + click
    </p>
</header>

<div ng-controller="gameBoard">
	<div class="message">
		<div class="counter">
            {{mineCount}}
        </div>
        <a href="#" class="face" ng-class="{dead: gameOver}" ng-click="reloadGame()"></a>
        <div class="clock" poz-game-clock ng-bind="elapsedTime" ng-model="elapsedTime">
            {{elapsedTime}}
        </div>
	</div>
	<div data-container="gameBoard">
		<div ng-repeat="spot in gameSpots" ng-class="{open: spot.open, flag: spot.flag, mine: spot.mine}" class="square closed" ng-click="setState(spot)" data-position="{{spot.position}}" poz-game-spot>
		</div>
	</div>
</div>

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/controllers.js"></script>
<script src="js/app.js"></script>

</body>
</html>